<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>

    <!--CSS styles -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&family=Cormorant+Infant:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="grid-container">
        <div class="grid-item">
            <h1 class="title"> The Weather Today</h1>
            <p> <%= today %> </p>

            <form class="city" action="/" method="POST">
                <label for="cityInput">City Name: </label>
                <input id="cityInput" name="cityName" type="text" placeholder="Paris"> <!--the name here is super important-->
                <button type="submit" class="btn" >Go</button>
            </form> 

            <div class="description">
                <p><%= userCity %> </p>
                <p><%= newDescription %>  </p>
            </div>

            <div class="temperature">
                <p> <%= newTemperature  %>  </p>
            </div>

            <div class="image">
                <img src="images/undraw_through_the_park_lxnl.svg" alt="woman walking in the park">
            </div>
        </div>

        <footer class="grid-item footer">
            
            <p>Developed by Ana Carolina Mendes. 2020 </p>
           
        </footer>
    </div>
    

</body>
</html>