*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Variables */

:root{
    --ff-primary: 'Cormorant Infant', serif;
    --ff-secundary: 'Montserrat', sans-serif;

    --clr-light: #DBC7B5;
    --clr-dark: #6091AB;
    --clr-accent: #D05146;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html{
    scroll-behavior: smooth;
}

body{
    color: var(--clr-accent);     
    font-size: var(--fs-h3);
    text-align: center;   
    background-color: var(--clr-light);     
    font-family: var(--ff-primary);
    margin: 0;
    padding: 0;
}

/* -----All Elements Styles----- */

.all-elements{
    margin: 1rem;
    padding: 0.1rem 0.5rem;
    border: dotted 0.2rem var(--clr-light);
    box-shadow: var(--bs);
    /*background-color: #F3EFE9;*/
    background-color: #fff;
}

/* -----Nav Styles ----- */
.nav{
    margin-top: 0;
}

.bars{
    position: relative;
    float: left;  
    top: 0.3rem;
}

.date-set{
    position: relative;
    float: right;
    width: min-content;
}

.calendar{
    position: relative;
    top: 1rem;
} 

.date{
    position: relative;
}

/* -----Header Styles----- */
.header{
    margin: 2rem;
    padding-top: 2rem;
}

h1{
    color: var(--clr-dark);
    text-shadow: 1px 2px 5px #F7F5F2;
    font-size: var(--fs-h1);
    font-weight: 700;
    font-family: var(--ff-secundary);
    text-align: center;    
}

/* -----Query Styles----- */
.city{ margin: 3.5rem 1.5rem; }

.city-name{
    position: relative;
    font-size: var(--fs-h2);
}

input, .btn{    
    border-radius: 5px;
    border-style: none;
    font-size: var(--fs-h3);
}

input{
    width: 12rem;
    color: hsl(240, 15%, 61%, 0.8) ;
    box-shadow: var(--bs);
}

input::placeholder{
    opacity: 0.6;
}

@media screen and (min-width: 600px) {
    input{
        width: 30%;
        height: 3rem;
    }
}

.btn{
    background-color: hsl(240, 15%, 61%) ;
    border-color: inherit;
    color: #F7F5F2;
    box-shadow: var(--bs);
    position: relative;
    margin-top: 1rem;
}

.btn:hover{
    background-color: var(--clr-dark);
    border-style: none;
    color: #F7F5F2;    
}

/* -----Query Result Styles----- */
.query-result{
    position: relative;
    width: 18em;
    margin: 3em auto 2em auto;
}

.api-image{
    grid-area: image;
    border: none;
    width: 10em;
}

.user-city{ 
    grid-area: city; 
    margin-top: 0;
    margin-bottom: 0;
}

.description{
    grid-area: description;
    width: 10em;   
    text-transform: capitalize;
}

.temperature{ 
    grid-area: temp; 
    margin-top: 0;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        'image city city city city'
        'image description description description description'
        'image temp temp temp temp';    
    text-align: left;
}

@media(max-width: 480px){
    .api-image{
        width: 6em;
    }
    .user-city, .description, .temperature{
        width: 8em;
    }
    .query-result{
        width: 15em;
    }
}

/* -----Jumbotron Styles----- */

.lead{
    font-size: var(--fs-h3);
}

/* -----Mobile's Image and Footer Styles----- */
.image-undraw{
    position: relative;
    max-width: 20em;
}

.image-bottom{ width: 100%; }

.footer{
    color: var(--clr-dark);
    font-size: var(--fs-body);
    padding: 0.2%;
    margin: 0;   
    width: 100%;  
}